body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

/* HERO SECTION */
.hero {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  color: #2c2c2c;
  padding: 100px 20px;
}

/* SECTION TITLES */
h2 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c2c2c;
}


/* SKILLS BOX */
#skills .col-md-3 {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;

  margin: 10px;
  padding: 15px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* PROJECT CARDS */
.card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);

  transition: 0.3s ease;
  height: 100%
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.6);
}

/* BUTTONS */
.btn-primary {
  background-color: #6c7a89;
  border: none;
}

.btn-primary:hover {
  background-color: #4b5563;
}

/* CONTACT LINKS */
#contact p {
  font-size: 16px;
}

section {
  padding: 70px 20px;
}
